## Directory-based project format:
.idea/

# Vagrant machine
vm*/.vagrant
vm*/*.box

# Bootstrap
emission/app/bootstrap*

# Symfony directories
emission/vendor/*
emission/app/logs/*
emission/app/cache/*
emission/web/uploads/*
emission/web/bundles/*
emission/bin/*

# Configuration files
emission/app/config/parameters.ini
emission/app/config/parameters.yml
emission/app/SymfonyRequirements.php

*.php~
