
#emissionSimpleSearchContainer {
    display: none;
}

#simpleSearchInput {
    width: 948px;
    border: 0;
    border-bottom: 1px solid lightgray;
    height: 35px;
}

#simpleSearchInput
{
    font-size:24px;
    padding: 0 16px;
}

input:focus{
    outline-width: 0;
}