@charset "UTF-8";
@import url('http://fonts.googleapis.com/css?family=Lato:100,400,700,900');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px Helvetica, "Lato", 'DroidSerifRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}

#emissionSettingsContainerSwitch img {padding: 0px 5px 0 10px;}



#emissionSettingsContainer {
    background-color: #f5f5f5;
    color: #323232;
    padding: 10px;
}

#emissionSettingsContainer.hidden {display: none;}
#emissionSettingsContainer {border-bottom: 1px solid #dfdfdf;}
#emissionSettingsContainerUpperSwitch {}
#emissionSettingsContainer > div:first-child {width: 100%; text-align: right;}

#emissionMainMenuContainer {background-color: #f8f8f8; padding: 10px;}
#emissionMainMenuContainer img:first-child {padding: 0px 0px 0 10px;}

#filesTable .fileOptions { width: 100px;}
#filesTable .fileOptions a { text-decoration: none;}
#filesTable .fileOptions a:hover { text-decoration: underline;}
#filesTable .fileSize {text-align: right; }

#filesTable .fileCreatedAt, 
#filesTable .fileUpdatedAt, 
#filesTable .fileExpirationDate, 
#filesTable .fileHashID, 
#filesTable .fileUploadedBy, 
#filesTable .fileType,
#filesTable .fileOptionsDownloadLink,
#filesTable .fileOptionsOpenLink {display:none;}

#emissionApplicationContainer {
    width: 950px;
    margin: 0 auto;
}


a, a:visited {
    color: black;
}

#files {
    padding: 10px 10px 10px 10px;
    background-color: #FbFbFb;
    border-radius: 0px 0px 10px 10px;
}

#filesTable {
    width: 100%;
}

#filesTable td.fst {
    width: 750px;
}

#filesTable td.lst {
    text-align: right;
}

#filesTable td {
    padding: 5px;
}

#filesTable tr:hover {
    background-color: #F8F8f8;
}
#filesTable span {
    font-size: 11px;
    color: #ddd;
    display: none;
}
/*
#fileTable tr:hover span {
    display: block;
}*/

#filesTable a {
    font-size: 14px;
    color: #a4a4a4;
}

#filesTable span.ownerName {color: gray; display: inline; font-size: 14px;}

#file_browsing_form {
    height: 100px;
}

#file_upload-queue {
    display:none;
    width: 920px;
}

footer {
    font-size: 12px;
    color: #ccc;
    text-align: right;
    padding-right: 20px;
}

.file_upload {
    margin: 0 auto;
    padding-top: 33px;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-progress {
  background-color: rgba(239, 244, 246, 0.19999999999999996);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}


.oauthLink, .emissionLogo {width:100px; height: 100px; display: inline-block;}
.oauthLink:hover {background-color: #fefefe;}

.windows_azure_ad{background: url('../img/oauth/1382051884_57-windows.png')  no-repeat center center;}
.windows_live{background: url('../img/oauth/1382051943_72-windows8.png') no-repeat center center;}
.google{background: url('../img/oauth/1382051948_80-google-plus.png') no-repeat center center;}
