{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
<div id="oauthLoginServicesContainer" style="text-align: center;">
    <div class="emissionLogo">
        <img src="/bundles/enginewerkemission/img/1382040865_519838-50_Cloud_Arrow_Up.png"/>
    </div>
    <div>
    {% if error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in hwi_oauth_resource_owners() %}
        <a href="{{ hwi_oauth_login_url(owner) }}" title="{{ owner | trans({}, 'HWIOAuthBundle') }}" class="oauthLink {{owner}}"></a>
    {% endfor %}
    </div>
</div>
{% endblock hwi_oauth_content %}
