/* 
    Created on : 2014-02-12, 19:50:48
    Author     : Paweł Czyżewski <pawel.czyzewski@enginewerk.com>
*/

@charset "UTF-8";

body {
    font: 0.9em 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    line-height: 1.4em;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

